.card{
    text-align: start;
    justify-content: start;
    align-items: start;
    color: black;
    position: sticky;
    margin-left: 7%;
    overflow-y: hidden;
    margin-top: 0%;
    padding-bottom: 15px;
    /* display: flex; */
}

.language{
    /* display: grid; */
    margin-top: -40px;
    border-radius: 10px;
}

.contiune{
    display: grid;
margin-left: 27.5rem;
background-color: white;
/* padding: 10px; */
margin-top: -25px;
/* margin-bottom: -10px; */
font-size: 10px;
border-radius: 10px;
}

.contiune:hover{
    background-color: var(--twitter-color);
}